a {
    text-decoration: none;
}

body {
    margin: auto;
}

.topBar {
    background-color: cadetblue;
    padding: 15px;
}

.buttonsBar {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    font-family: Segoe UI;
    border: 2px solid;
    padding: 5px;
}

.iconsBar {
    margin-left: 7px;
    margin-right: 7px;
}